 <!DOCTYPE html>
<html lang="en"  class="all">


<head  class="all">
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta http-equiv="X-UA-Compatible" content="ie=edge">
  <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.3.1/css/all.css" integrity="sha384-mzrmE5qonljUremFsqc01SB46JvROS7bZs3IO2EmfFsd15uHvIt+Y8vEf7N7fWAU"
    crossorigin="anonymous">

  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css"
    crossorigin="anonymous">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js" type="text/javascript" charset="utf-8"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" type="text/javascript" charset="utf-8"></script>


  <link rel="stylesheet" href="/css/style.css">
  <title>Snack Box</title>
</head>

<div id="flash" class="alert alert-success">
  <h4 class="flashText">
      <b><span id="headlineFlash"></span></b>
      <span id="detailFlash"></span>
  </h4>
</div>
<!-- <div id="loading" class="hidden" >
    <img id="loadingImg" src="/img/Loadingsome.gif"></img>
</div> -->

<body class="all">
  <header class="inner all">
    <h2><a href="/"><i class="fas fa-code"></i> Snack Box</a></h2>
    <nav>
      <ul>
        <li>
          <a href="/">Home</a>
        </li>
        <li>
          <a href="/products/page/1">Products</a>
        </li>
        <li>
          <a href="/products/ban/1">Ban</a>
        </li>
        <!-- <li>
          <a href="/help">Help</a>
        </li> -->
        <!-- <li>
          <a href="/products/add">New</a>
        </li> -->
        <li>
          {{#if user_name}}
          <div class="dropdown">
            <div class="dropdown">
              <a href="#">{{user_name}}<span class="caret"></span></a>
              <div class="dropdown-content">
                <a href="/products/feeling/favorite/1">My Favarit</a>
                <a href="/products/feeling/love/1">My Like</a>
                <a href="/products/feeling/hate/1">My DisLike</a>
                <!-- <a class="divider"></a> -->
                <a href="/logout"><b>Log Out</b></a>
              </div>
            </div>
          {{else}}
            <a href="/auth/google">Sign In</a>
          {{/if}}
        </li>
      </ul>
    </nav>
  </header>

  <div class="container all">
    {{{body}}}
  </div>
</body>
</html>

<script>
    function aletShow(head, body, type){
        $('#flash').attr('class', 'alert alert-'+type);
        $('#headlineFlash').text(head);
        $('#detailFlash').text(body);
        $('#flash').removeClass('flash');
        setTimeout( function()  { $('#flash').addClass('flash'); }, 100);
    }
    function loading(){
        $('#loading').removeClass('hidden');
    }
    function loaded(){
        $('#loading').addClass('hidden');
    }
</script>
