<script>
</script>
<section  class="container all">
    <div class="form-wrap all ">
        <h1>Admin</h1>
        <br>
        <br>
        <button type="button" class="btn btn-primary">Reset Like</button>
        <br>
        <br>
        <button type="button" class="btn btn-primary">Reset Favarite</button>
        <br>
        <br>
        <button type="button" class="btn btn-outline-danger">Reset Everything</button>
    </div>
</section>
