<script>
</script>
<section  class="container all">
    <div class="form-wrap all ">
        <h1>Admin</h1>


        <h3>What is what?</h3>
        <span><b>Ban: </b></span>
        <span>Only the Admin can ban and un-ban. If you have the request go talk to the Admin!</span>
        <br>
        <br>
        <span><b>Love: </b></span>
        <span>This is your favarite snack, which you will always want to eat.</span>
        <br>
        <br>
        <span><b>Like: </b></span>
        <span>This might be a snack that other poeple vote, even though you don't love it, but you can eat it.</span>
        <br>
        <br>
        <span><b>Hate: </b></span>
        <span>Something that you see in the shelf for years and no one ever eat it. Vote it out!</span>
    </div>
</section>
