<script>
</script>
<section  class="container all">
    <div class="form-wrap all ">
        <h1>Help</h1>
        <h3>How to add?</h3>
        <span>1. Drag the link from Lotus page to the add box.</span><br>
        <span>2. Copy the url from Lotus page and press Add.</span><br>
        <a href='https://shoponline.tescolotus.com/groceries/en-GB/products/6004074513' target="_blank">
            Eg: https://shoponline.tescolotus.com/groceries/en-GB/products/6004074513</a>

        <h3>What is allowed?</h3>
        <script>
            Object.keys(allowLinks).forEach((element) => {
              document.write(`<a target='_blank' href='https://shoponline.tescolotus.com${allowLinks[element][0][1]}'>${element}</a><br>`);
            });
        </script>

        <h3>What is what?</h3>
        <span><b>Ban: </b></span>
        <span>Only the Admin can ban and un-ban. If you have the request go talk to the Admin!</span>
        <br>
        <br>
        <span><b>Love: </b></span>
        <span>This is your favarite snack, which you will always want to eat.</span>
        <br>
        <br>
        <span><b>Like: </b></span>
        <span>This might be a snack that other poeple vote, even though you don't love it, but you can eat it.</span>
        <br>
        <br>
        <span><b>Hate: </b></span>
        <span>Something that you see in the shelf for years and no one ever eat it. Vote it out!</span>
    </div>
</section>
