
<section  class="container all">
    <div class="form-wrap all ">
        <h1>Admin</h1>
        <br>
        <br>
        <button type="button" onclick="reset(['love'])" class="btn btn-primary">Reset Like</button>
        <br>
        <br>
        <button type="button" onclick="reset(['favorite'])" class="btn btn-primary">Reset Favarite</button>
        <br>
        <br>
        <button type="button" onclick="reset(['love','favorite'])" class="btn btn-primary">Reset Favarite&Like</button>
        <br>
        <br>
        <button type="button" onclick="reset(['love','hate','favorite'])" class="btn btn-primary">Reset Everything</button>
    </div>
</section>
<script>
    function reset(feeling){
        if(confirm("Are you sure to Reset "+feeling+" ?")){
          $.ajax({
              url: '/products/reset',
              type: 'post',
              data: { "feeling": feeling },
          }).done(function(data) {
              console.log(data);
          });
          } else {
          }
    }
</script>
